html {
  box-sizing: border-box;
}

:root {
  --brand-color: #231f20;
  --white-color: #ffffff;
  --accent-color: #f7941e;
  --secondary-background-color: #f1f1f2;
  --base-icon-color: #000000;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--base-icon-color);
  background-color: var(--white-color);
}

/* Utilities */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  max-width: 100%;
  height: auto;
}

ul{
margin: 0;
padding: 0;}

img {
  display: block;
}

a{
text-decoration: none;
}

.link {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  max-width: 1440px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header{
display: flex;
justify-content: space-between;
align-items: center;

padding-top: 36px;
padding-bottom: 35px;
}
.logo{
  font-family: Homemade Apple;
  font-style: Regular;
  font-size: 18px;
  line-height: 2.17;
  align-items: center;
  color: var(--brand-color);
}

.nav{
display: flex;
gap: 31px;
}

.nav-link{
font-size: 18px;
line-height: 1.22;
display: flex;
align-items: center;

color: currentColor;
}

/* Footer */
.container.footer {
  max-height: 410px;
  padding-left: 220px;
  padding-right: 220px;
}

.nav-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.social-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  fill: var(--base-icon-color);
}

.privacy {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
