html {
  box-sizing: border-box;
}

:root {
  --brand-color: #231f20;
  --white-color: #ffffff;
  --accent-color: #f7941e;
  --secondary-background-color: #f1f1f2;
  --bcg-color-last-section: #231f20;
  --base-icon-color: #000000;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --occasion-card-color: #FAFAFA;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--base-icon-color);
  background-color: var(--white-color);
}

/* Utilities */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: auto;
  margin-right: auto;
}

/*Header*/
.container.header {
  max-width: 1440px;
  display: flex;
  padding-top: 37px;
  padding-bottom: 36px;
  align-items: center;
}

.logo {
  font-family: "Homemade Apple";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.17;
  margin-left: 80px;
  color: var(--bcg-color-lastsection);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  transform: scale(1.3);
}
.nav.flex {
  display: block;
}

.nav.list {
  display: flex;
  margin-left: 433px;
  padding-left: 0px;
  gap: 31px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 5px 5px;
  font-size: 18px;
  line-height: 1.2;
  color: var(--base-icon-color);
  background-color: var(--white-color);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  transform: scale(1.2);
  background-color: var(--accent-color);
  color: var(--white-color);
}

.nav.button {
  display: block;
  padding: 13px 25px 13px 24px;
  margin-left: auto;
  margin-right: 34px;
  min-width: 150px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--white-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav.button:hover,
.nav.header:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/* Hero */
.hero {
  display: flex;
  justify-content: space-between;

  background-color: var(--secondary-background-color);
}

.hero-div {
  display: flex;
  flex-direction: column;

  margin-top: 154px;
  margin-left: 162px;

  width: 433px;
}

.hero-title {
  margin-bottom: 36px;

  font-size: 56px;
  line-height: 1.23;
}

.hero-text {
  margin-bottom: 52px;

  font-size: 20px;
  line-height: 1.4;
}

.hero-button {
  display: block;
  margin-right: auto;

  padding-left: 25px;
  padding-top: 13px;
  padding-right: 25px;
  padding-bottom: 10px;

  min-width: 200px;
  min-height: 50px;

  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: var(--accent-color);

  border: 1px solid var(--accent-color);
  border-radius: 5px;

  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function),
    border-color 250ms var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-color);
}

.content {
  display: flex;

  background-color: var(--secondary-background-color);
}

.content-div {
  display: flex;
  flex-direction: column;

  margin-left: 112px;
  margin-top: 162px;

  width: 441px;
}

.content-title {
  margin-bottom: 24px;

  font-size: 32px;
  line-height: 1.41;
}

.content-text {
  margin-bottom: 35px;

  width: 441px;

  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}

.content-button {
  display: flex;
  margin-right: auto;

  padding-left: 39px;
  padding-top: 13px;
  padding-right: 39px;
  padding-bottom: 10px;

  min-width: 200px;
  min-height: 50px;

  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;

  color: var(--accent-color);

  border: 1px solid var(--accent-color);
  border-radius: 5px;

  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function),
    border-color 250ms var(--transition-timing-function);
}

.content-button:hover,
.content-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--white-color);
}

/*Gifts for all Occasions*/

.occasions {
  padding-top: 96px;
  padding-bottom: 137px;
  margin-left: auto;
  margin-right: auto;

}

.ocassions-title {
  margin-bottom: 23px;
  font-family: inherit;
  font-size: 32px;
  text-align: center;
  line-height: 1.18;
  color: var(--base-icon-color--)
}

.ocassions-description {
  margin-bottom: 64px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: var(--base-icon-color--);
}

.occasions-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.occasions-card {
  padding-bottom: 24px;
  background-color: var(--occasion-card-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.occasions-card:hover {
  background-color: var(--white-color);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.occasions-card-text {
  padding-top: 24px;
  padding-left: 24px;
  color: var(--base-icon-color--);
}

.occasions-card-title {
  margin-bottom: 74px;
  font-size: 20px;
  line-height: 24px;
}

.occasions-card-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--base-icon-color--);
  line-height: 19.03px;
}

/* Start-section*/
.section-start {
  padding: 80px 0;
  background-color: var(--accent-color);
}

.start-container {
  display: flex;
  align-items: center;

  justify-content: space-around;
}

.start-title {
  font-size: 32px;
  line-height: 140.62%;
}

.start-subtitle {
  font-size: 32px;
  line-height: 140.62%;
}

.start-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  line-height: 134.77%;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-button:hover,
.start-button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}

/*last-section*/
.last-section {
  padding: 80px 135px;
  box-sizing: border-box;
  display: block;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.last-section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 23px;
}
.last-section-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 140.62%;
  text-align: center;
  margin-bottom: 71px;
}
.last-section-card {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: var(--bcg-color-last-section);
}
.last-section-card-text {
  color: var(--white-color);
  padding-top: 63px;
  padding-left: 78px;
}
.last-section-card-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 140.62%;
  margin-bottom: 27px;
}
.last-section-card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 58px;
  width: 492px;
  margin-bottom: 60px;
}
.last-section-card-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 140.62%;
  color: var(--white-color);
}
.last-section-list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0;
}
.last-section-item {
  max-width: 570px;
  list-style-type: none;
  padding: 48px 48px 50px 48px;
}
.last-section-item:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.last-section-list:last-child {
  margin-right: 30px;
}
.last-section-item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 140.62%;
  color: var(--base-icon-color);
}
.last-section-item-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 140.62%;
  color: var(--base-icon-color);
  margin-top: 16px;
}
.last-section-item-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 140.62%;
  color: var(--base-icon-color);
  margin-top: 16px;
  display: inline-block;
}

/* Footer */
.page-footer {
  padding-top: 106px;
  padding-bottom: 35px;
}
.footer {
  max-height: 410px;
  padding-top: 115px;
  padding-bottom: 35px;
}

.nav-footer {
  display: flex;
  padding-bottom: 53px;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.social-links {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 55px;
  margin: 0 0 72px 0;
  gap: 24px;
  justify-content: center;
  align-items: center;
  fill: var(--base-icon-color);
}

.privacy {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
